﻿@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <a class="nav-link btn-primary btn-block rounded-pill mb-1" 
                            asp-area="" asp-controller="Database" asp-action="Index">Books</a>
                    </div>
                    <div class="row">
                        <a class="nav-link btn-primary btn-block rounded-pill mb-1" 
                            asp-area="" asp-controller="Database" asp-action="Search">Search</a>
                    </div>
                    <div class="row">
                        <a class="nav-link btn-primary btn-block rounded-pill mb-1" 
                            asp-area="" asp-controller="Database" asp-action="Upload">Upload</a>
                    </div>
                </div>
                <div class="col-10 container">
                    @RenderBody()
                </div>
            </div>
        </div>
</body>
</html>
