﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Books";
    Layout = "_DatabaseLayout";
}
<h3>
    Database View
</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ISBN</th>
            <th scope="col">Hash</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Books){
        <tr>
            <td><a class="text-body" asp-controller="Database" asp-action="ViewBook" asp-route-itemid="@item.BookId">@item.Title</a></td>
            <td tabindex="-1">@item.ISBN</td>
            <td tabindex="-1">@item.Hash</td>
        </tr>
        }
    </tbody>
</table>
