﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DatabaseLayout";
}

<h3>
    Search
</h3>

<form>
    <div class="container">
        <div class="row">
            <div class="col">
                <label>Book Title</label>
                <input type="text"/>
            </div>
            <div class="col">
                <label>ISBN</label>
                <input type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit"/>
            </div>
            <div class="col">
            
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Hash</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Books){
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.ISBN</td>
                        <td>@item.Hash</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>