﻿@{
    Layout = "_DatabaseLayout";
}

<div class="container">
	<div class="col">
		<div class="row">
			<span>Title: </span>
			<br />
			<span>@Model.Book.Title</span>
		</div> 
	</div>
	<div class="col">
		<div class="row">
		
		</div> 
	</div>
</div>